

<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('../../homepage_bottom_right_bottom.jpg">
        <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">
    </header>
    <!-- Content section -->
    <section class="py-5">
        <div class="container">
            <h1>Looking For A Restaurant?</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <input type="button" class="btn btn-primary btn-block" value="Find Restaurants" onclick="location.href='@Url.Action("Search","Search")'" />
        </div>
    </section>
    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('../../20140721-restaurant.png');">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <div style="height: 200px;"></div>
    </section>
    <!-- Content section -->
    <section class="py-5">
        <div class="container">
            <h1>Restaurant Owner? Add Yourself To The Network!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <input type="button" class="btn btn-primary btn-block" value="Add Restaurant" onclick="location.href='@Url.Action("index","Restaurant")'" />
        </div>
    </section>
</body>
</html>
